
.tableWrapper {
    width: 700px;
    /*    border: solid 1px white;*/
/*    margin-top: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: #EAEAEA!important;
}
::-webkit-scrollbar-corner {
    background-color: #EAEAEA!important;
}
.tableScrollWrapper {
    background-color: #EAEAEA!important;
    padding: 0px;
    margin: 0;
    height: 500px;
    width: 700px;
    overflow-y: scroll;
    border-right: 2px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
}

.tableBodyWrapper {
    width: 1000px;
    white-space: nowrap;
    border: transparent;
}

#cardHeader {
    background-color: #A7EFE1!important;

    height: 15px;
    padding: 0px;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    border-right: 3px solid #EAEAEA;
    border-left: 3px solid #EAEAEA;
    border-top: 3px solid #EAEAEA;
}

#cardFooter {
    background-color: #A7EFE1!important;
    height: 15px;
    padding: 0px;
    margin: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    border-right: 3px solid #EAEAEA;
    border-left: 3px solid #EAEAEA;
    border-bottom: 3px solid #EAEAEA;
}

.ui.table {
    border-radius: 0;
}

.card-header:first-child {
    border-radius: 20px 20px 0 0;
}

.tableScrollWrapper {
    background-color: white;
}

body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #EAEAEA!important;
}


.firstColomn {
    background-color: #A7EFE1!important;
    /*width: 5px;*/
}
#headerStycky {
    position: sticky;
    border: 2px solid #A7EFE1!important;
    top: 0px;
    z-index: 2;
    /*box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px black;*/
}

.bg-success {
    background-color: #A7EFE1!important;
    height: 25px;
    border-radius:  0 0 0 0 ;
    box-shadow: none;
    color: black!important;
    text-align: center
}

.card-body {
    text-align: left;
    padding: 0;
}

td.ui-resizable {
    padding-left: 0 !important;
    padding-right: 0 !important;
    /*    padding-top: 0!important;
        padding-bottom: 0!important;*/
}

body > div.container > div > div.tableScrollWrapper > div > table {
    border: 0;
}
.card-title {
    text-align: center!important;
}
#headerStycky > td:nth-child(0) {
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #EAEAEA;
    border-left: 2px solid #A7EFE1!important;
}

#headerStycky > td:nth-child(1) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#headerStycky > td:nth-child(2) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#headerStycky > td:nth-child(3) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#headerStycky > td:nth-child(4) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#headerStycky > td:nth-child(5) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#headerStycky > td:nth-child(6) {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#headerStycky > td:nth-child(7) {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#headerStycky > td:nth-child(8) {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#headerStycky > td:nth-child(9) {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#headerStycky > td:nth-child(10) {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.hiddenUserRow {
    display: none;
    /*color: #0e8c8c;*/
}
.inputAndDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}


#tableRow {
/*    border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}