body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
.container {
    border: 1px solid black;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

