body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
.container-fluid {
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.row {
    border: 1px solid red;
}
.col-sm-2,.col-sm-10{
    border: 1px solid blue;
}
.col{
    border: 1px solid darkgreen;
}
#headerWindowOne {
    height: 15%;
}
#centerWindow {
    /*height: 100%;*/
}