body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
.container-fluid {
    border: 2px solid black;
    height: 100%;
}

#headerWindowOne {
/*    margin: 5px;*/
    border: 2px solid red;
    height: 15%;
}
#centerWindow {
    height: 85%;
/*    margin: 5px;*/
    border: 2px solid purple;
    /*height: 100%;*/
}
#sliderCol {
/*    margin: 5px;*/
    border: 2px solid green;
}
#menuCol {
/*    margin: 5px;*/
    border: 2px solid blue;
}