/*remove indents body*/
* {
    padding: 0;
    margin: 0;
}
html,
body {
    /*alignment bootstap's container in center body*/
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.container {
    /*bootstrap container */
    padding: 0;
    margin: 0;
    display: flex;
    /*width slider*/
    width: 465px;
    justify-content: center;
}
.col-9 {
    display: flex;
    border:1px solid black;
    justify-content: center;
}
.slider {
    /*slider container*/
    overflow: hidden;
    /*everithing outside will be invinsible*/
    justify-content: center;
    height: 120px;
    border:1px solid white;
    border-radius:35px;
}
.slider-line {
    /*slider line settings*/
    position: relative;
    display: inline-flex;
    left: 0;
    transition: all ease 0.5s;
}
img {
    margin:7.5px;
    width: 100px;
    border:2px solid #fff;
    border-radius:25px;
    box-shadow: 1px  3px 6px rgba(0,0,0,0.16), 1px  3px 6px rgba(0,0,0,0.23);
}
.btn-info {
    d: path('M50,77L23.3,91l5.1-29.7l-21.6-21L36.7,36L50,9l13.3,27l29.8,4.3l-21.6,21L76.7,91L50,77z');
    width: 50px;
    margin:2px;
    border-radius:25px;
    box-shadow: 1px  3px 6px rgba(0,0,0,0.16), 1px  3px 6px rgba(0,0,0,0.23);
    /*https://www.w3schools.com/html/html_colors_hsl.asp*/
    --ripple-background: hsla(0, 100%, 100%, 0.6);
    --ripple-opacity: 0.9;
    --ripple-duration: 300ms;
}

