* {
    padding: 0px;
    margin: 0px;
}

.container {
    border: 2px solid white;
    border-radius: 6px;
    margin-top:  200px;
    padding: 0px;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
}
.tableBodyWrapper {
    width: 1000px;
    white-space: nowrap;
}
.tableHead {
    background-color: #0e8c8c;
}

