* {
    padding: 0px;
    margin: 0px;
}
.tableWrapper {
    width: 600px;
/*    border: solid 1px white;*/
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px   20px 20px   20px;

}
.tableScrollWrapper {
    padding: 0px;
    margin: 0;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
}
.tableBodyWrapper {
    width: 1000px;
    white-space: nowrap;
}
#cardHeader {
    height: 50px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 20px   20px 0 0;
}
#cardFooter {
    height: 50px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0 0 20px   20px ;
}
.ui.table {
    border-radius: 0;
}
.card-header:first-child {
    border-radius: 20px   20px 0 0;
}
.tableScrollWrapper {
    background-color: white;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-track {
background: white;
}
body ::-webkit-scrollbar {
    background: white;
}

#headerStycky {
    position: sticky;
    top: 0px;
    z-index: 2;
}
.bg-success {
    box-shadow: 0 0 0 0;
    border-radius: 0;
}
.card-body {
    text-align: left;
}
td.ui-resizable {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 0!important;
    padding-right: 0!important;
}